/*En esta clase se deberá wrappear todo el contenido de la página*/
.wrapper {
    margin-left: 300px;
    padding: 10px;
}

/*Esta clase se le da al item del sidenav que este seleccionado*/
.highlited {
    background-color: darkgray;
    color: white;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

/*sidebar*/
#slide-out {
    top: 64px;
}

@media only screen and (max-width: 992px) {
    #slide-out {
        top: 0;
    }
    .wrapper {
        margin-left: 0;
    }
}