/*En esta clase se deberá wrappear todo el contenido de la página*/
.wrapper {
    margin-left: 300px;
    padding: 10px;
}

#menu-logo {
    background: linear-gradient(mediumspringgreen, skyblue);
    margin-bottom: 0;
}

#menu-logo img {
    padding-top: 10px;
}

#menu-logo h4 {
    margin-top: 0;
}

/*Esta clase se le da al item del sidenav que este seleccionado*/
.selected-item {
    background-color: steelblue;
}

.selected-item>a {
    color: white !important;
}


@media only screen and (max-width: 992px) {
    .wrapper {
        margin-left: 0;
    }
}