#gameCover{
    width: 50%;
    display:block;
    margin:auto;
    padding: 20px;
}

#esrb{
    width: 12%;
}

#game-description{
    text-align: justify;
}
.info{
    padding: 20px;
}

.text-center{
    text-align: center;
}

.gameBackground{
    background-image: url('../../web/img/zeldaBanner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -100;
    overflow: hidden;
    filter: blur(5px);
}
#gameDetailHeader{
    overflow: hidden;
    position: relative;
}

.container{
    overflow: hidden !important;
}