* { 
    margin: 0; 
    padding: 0; 
}

/*id del sidenav*/
#menu, #drpGames1 {
    overflow: visible;
}

#menu li {
    /*border-bottom: 2px solid black;*/
    border-radius: 3px;
    /*box-shadow: 0px 1px;*/
}

#menu a {
    font-size: 22px;
}

#menu-button {
    right: auto;
    bottom: auto;
    padding: 10px;
    border-bottom-right-radius: 5px;
}

#menu-logo {
    margin-bottom: 0;
}

#menu-button, #menu-logo, .modal-header {
    background: linear-gradient(mediumspringgreen, skyblue);
}

.modal-header {
    padding: 10px;
}

.modal-submit {
    margin-left: 5px;
}

#menu-logo img {
    padding-top: 10px;
}

#menu-logo h4 {
    margin-top: 0;
}

.selected-item, #menu-user {
    background-color: steelblue;
}

.selected-item>a, #menu-user>a {
    color: white !important;
}

/*Permite hacer scroll cuando el footer del sidenav cubre lo demas*/
#menu-items {
    max-height: calc(100% - 360px);
    overflow-y: auto;
}

#menu-items .row {
    margin-bottom: 0;
}

/*Configuración de footer de sidenav*/
footer.page-footer {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
}

#login-collection {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

footer .row {
    margin-bottom: 5px;
}

.modal-content {
    padding: 0 !important;
}

/*Las opciones de los dropdown del sidenav se moveran a la deracha solo si el width es mayor a 500px*/
@media only screen and (min-width: 500px) {
    #drpGames1 {
        margin-left: 100%;
    }
    #drpGames2 {
        margin-left: 100%;
    }
    #drpAccount {
        margin-left: 100%;
    }
}
