/*div que contiene al slider*/

#main {
    margin: 10px !important;
    background-color: darkgray;
}


/*Botones del slider*/

#nextButton {
    left: 90%;
}

#prevButton,
#nextButton {
    width: 10%;
    height: 100%;
    bottom: 0;
    top: 45%;
    position: absolute;
}


/*Overrideo de la clase chip, intentando hacerlo mas grande*/

.large-chip {
    width: 100%;
    height: 100px;
    overflow: auto;
}

.large-chip>img {
    height: 100%;
    width: auto;
    border-radius: 0;
}

.large-chip>.chip {
    margin-bottom: 0;
}

.carousel-item {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.carousel-footer {
    background: rgba(0, 0, 0, 0.5);
}

.container {
    width: 100%;
}

.card-image .card-title {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}


/* label color */

.input-field label {
    color: #2196f3 !important;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: #2196f3 !important;
}


/* label underline focus color */

input[type=text]:focus+label {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #2196f3 !important;
}

i.material-icons {
    vertical-align: middle;
}


/*
#game1-banner {
    background-image: url(../img/nierBanner.jpg);
}*/