/*div que contiene al slider*/

#main {
    margin: 10px !important;
    background-color: darkgray;
}


/*Botones del slider*/

#nextButton {
    left: 90%;
}

#prevButton,
#nextButton {
    width: 10%;
    height: 100%;
    bottom: 0;
    top: 45%;
    position: absolute;
}


/*Overrideo de la clase chip, intentando hacerlo mas grande*/

.large-chip {
    width: 100%;
    height: 100px;
    overflow: auto;
}

.large-chip>img {
    height: 100%;
    width: auto;
    border-radius: 0;
}

.large-chip>.chip {
    margin-bottom: 0;
}

.carousel-item {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

div.card h2,
p {
    margin: 0;
}


/*
#game1-banner {
    background-image: url(../img/nierBanner.jpg);
}*/