<!--menu en desktop-->
<!--<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="index.php" class="brand-logo">Sttom xD</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger" href="#!" data-target="drpGames1">Juegos<i class="material-icons left">keyboard_arrow_down</i></a></li>
                <li><a href="support.php">Soporte Técnico</a></li>
                <li><a href="about.php">Quiénes somos</a></li>
                <li class="noLogin"><a class="modal-trigger" href="#modalSignIn">Iniciar sesión</a></li>
                <li class="userLogged"><a class="dropdown-trigger" href="#!" data-target="drpAccount1">Cuenta<i class="material-icons left">keyboard_arrow_down</i></a></li>
                <li class="userLogged"><a class="modal-trigger" href="#modalCart"><i class="material-icons">shopping_cart</i></a></li>
            </ul>
        </div>
    </nav>
</div>-->

<div id="menu-button" class="fixed-action-btn">
    <a href="#" data-target="menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</div>


<!-- menu en movil-->
<ul id="menu" class="sidenav">
    <li>
        <div id="menu-logo" class="row">
            <div class="col s6 offset-s3"><img class="responsive-img" src="img/logo.png"> </div>
            <div class="col s12"><h4 class="center-align">Sttom xD</h4></div>
        </div>
    </li>
    <div id="menu-items">
    <li class="menu-item center-align selected-item"><a href="#!" onclick="attach('main')">Tienda</a></li>
    <li id="menu-games" class="menu-item center-align menu-trigger"><a class="dropdown-trigger" href="#!" data-target="drpGames1">Juegos<i class="material-icons right">keyboard_arrow_right</i></a></li>
    <li class="menu-item center-align"><a href="#!" onclick="attach('support')">Soporte Técnico</a></li>
    <li class="menu-item center-align"><a href="#!" onclick="attach('about')">Quiénes somos</a></li>
    <li class="menu-item center-align"><!--<a class="modal-trigger" href="#modalCart">--><a href="#!" onclick="attach('cart')">
        <div class="row">
            <div class="col s3"><i class="material-icons">shopping_cart</i></div><div class="col s6">Carrito</div>
        </div>
    </a></li>
    </div>
    <footer class="page-footer white">
        <div id="menu-login" class="container">
            <div class="center-align row">
                <div id="login-collection" class="collection col s10 offset-s1">
                    <a href="#modalSignIn" class="collection-item active modal-trigger indigo lighten-2">Iniciar sesión</a>
                    <a href="#modalSignUp" class="collection-item modal-trigger indigo-text lighten-2">Registrarse</a>
                </div>
            </div>
        </div>
        <li id="menu-user" class="center-align"><a class="dropdown-trigger" href="#!" data-target="drpAccount"><i class="material-icons left">account_circle</i>Mi perfil<i class="material-icons right">keyboard_arrow_right</i></a></li>
        <div class="footer-copyright">
            <div class="container center-align  black-text">
                © 2018 Copyright
            </div>
        </div>
    </footer>
</ul>

<!--Dropdowns-->
<!--Juegos  -->
<ul id="drpGames1" class="dropdown-content">
    <li class="item-game"><a href="#!" onclick="attach('games')">Ofertas</a></li>
    <li class="menu-trigger"><a class="dropdown-trigger" href="#!" data-target="drpGames2">Buscar por<i class="material-icons right">keyboard_arrow_right</i></a></li>
</ul>
<ul id="drpGames2" class="dropdown-content">
    <li class="item-game"><a href="#!" onclick="attach('games')">Todos</a></li>
    <li class="item-game"><a href="#!" onclick="attach('games')">Plataforma</a></li>
    <li class="item-game"><a href="#!" onclick="attach('games')">Desarrollador</a></li>
    <li class="item-game"><a href="#!" onclick="attach('games')">Género</a></li>
    <li class="item-game"><a href="#!" onclick="attach('games')">Rating</a></li>
    <li class="item-game"><a href="#!" onclick="attach('games')">Clasificación</a></li>
    <li class="item-game"><a href="#!" onclick="attach('games')">Fecha de lanzamiento</a></li>
</ul>
<ul id="drpAccount" class="dropdown-content">
    <li><a class="modal-trigger" href="#modalUser">Editar información</a></li>
    <li><a href="/Catedra_LIS/public/">Cerrar sesión</a></li>
</ul>



<!--Modal de inicio de sesión-->
<div id="modalSignIn" class="modal">
    <div class="modal-content">
        <div class="modal-header row white-text valign-wrapper">
            <div class="col m2 s3">
                <img class="responsive-img" src="img/logo.png"> 
            </div>
            <div class="col m10 s9">
                <h3 class="">Inicio de sesión</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2 center-align">
                <form id="frmSignIn">
                    <div class="input-field">
                        <input id="signInUser" type="text" required>
                        <label for="signInUser">Nombre de usuario</label>
                    </div>
                    <div class="input-field">
                        <input id="signInPass" type="password" required>
                        <label for="signInPass">Contraseña</label>
                    </div>
                    <div class="row">
                        <button type="submit" class="modal-submit btn waves-effect right">Ingresar</button>
                        <button class="btn waves-effect right modal-close">Cancelar</button>
                    </div>
                </form>
                <a href="#modalSignUp" class="modal-close modal-trigger">¿No tienes una cuenta?</a>
            </div>
        </div>
    </div>
</div>

<!--Modal de registro-->
<div id="modalSignUp" class="modal">
    <div class="modal-content">
        <div class="modal-header row white-text valign-wrapper">
            <div class="col m2 s3">
                <img class="responsive-img" src="img/logo.png"> 
            </div>
            <div class="col m10 s9">
                <h3 class="">Regístrate</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2 center-align">
                <form id="frmSignUp">
                    <div class="input-field">
                        <input id="signUpEmail" type="email" required>
                        <label for="signUpEmail">Correo electrónico</label>
                    </div>
                    <div class="input-field">
                        <input id="signUpUser" type="text" required>
                        <label for="signUpUser">Nombre de usuario</label>
                    </div>
                    <div class="input-field">
                        <input id="signUpPass" type="password" required>
                        <label for="signUpPass">Contraseña</label>
                    </div>
                    <div class="input-field">
                        <input id="signUpConfirm" type="password" required>
                        <label for="signUpConfirm">Repetir contraseña</label>
                    </div>
                    <div class="row">
                        <button type="submit" class="modal-submit btn waves-effect right">Registrar</button>
                        <button class="btn waves-effect right modal-close">Cancelar</button>
                    </div>
                </form>
                <a href="#modalSignIn" class="modal-close modal-trigger">¿Ya tienes una cuenta?</a>
            </div>
        </div>
    </div>
</div>

<!--Modal de edición de información de usuario-->
<div id="modalUser" class="modal">
    <div class="modal-content">
        <div class="modal-header row white-text valign-wrapper">
            <div class="col m2 s3">
                <img class="responsive-img" src="img/logo.png"> 
            </div>
            <div class="col m10 s9">
                <h3 class="">Editar información</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2 center-align">
                <form id="frmUser">
                    <div class="input-field">
                        <input id="userName" type="text" required>
                        <label for="userName">Nombre de usuario</label>
                    </div>
                    <div class="input-field">
                        <input id="userPass" type="password" required>
                        <label for="userPass">Contraseña</label>
                    </div>
                    <div class="input-field">
                        <input id="userConfirm" type="password" required>
                        <label for="userConfirm">Repetir contraseña</label>
                    </div>
                    <div class="row">
                        <button type="submit" class="modal-submit btn waves-effect right">Guardar cambios</button>
                        <button class="btn waves-effect right modal-close">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal de carrito-->
<div id="modalCart" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m10 offset-m1 center-align">
                <i class="material-icons large">shopping_cart</i>
                <h3>Carrito</h3>
                <div>
                    <div class="chip large-chip valign-wrapper">
                        <img class="responsive-img" src="https://picsum.photos/320/240">
                        <i class="close material-icons">close</i><br>
                        <div>The Legend of Zelda: PC Edition</div>
                        <div class="chip green white-text right">$19.99</div>
                    </div>
                    <div class="chip large-chip valign-wrapper">
                        <img class="responsive-img" src="https://picsum.photos/320/240">
                        <i class="close material-icons">close</i><br>
                        <div>Super Mario Bros for PC</div>
                        <div class="chip green white-text right">$9.99</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 right"><h4 class="right">Total: $100.00</h4></div>
                    <div class="col s12 center"><a class="waves-effect waves-light btn">Realizar transacción</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

