
/*Items del carrito de compras*/


.card img {
    max-height: 100%;
}

#card-total {
    background-color: steelblue;
    color: white;
}

button {
    margin: 5px;
}

button a {
    color: white;
}

.quantity {
    max-width: 100px;
    margin-left: 50px !important;
}

/*El boton de vaciar tenia un margen raro*/
.red {
    margin-left: -5px !important;
}

@media only screen and (min-width: 500px) {
    .cart-card {
        max-height: 300px;
    }  
}
