
/*Items del carrito de compras*/


.card img {
    max-height: 100%;
}

.cartItem .card{
    background-color: #f7f9f9;
}

#card-total {
    background-color: steelblue;
    color: white;
}

button {
    margin: 5px;

}

button a {
    color: white;
}

.priceDetail {
    border-radius: 0 5px 5px 0;
    border-left: 2px solid #0D47A1;
    background-color: white;
}

.quantity {
    height: 32px !important;
    margin-bottom: 4px !important;
}

/*El boton de vaciar tenia un margen raro*/
.red {
    margin-left: -5px !important;
}

@media only screen and (min-width: 500px) {
    .cart-card {
        max-height: 300px;
    }  
}
