#gameCover {
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px;
}


.game-description {
    text-align: justify;
}

.info {
    padding: 20px;
}

.text-center {
    text-align: center;
}


/*se establece la imagen blur del detalle de juego*/

.gameBackground {
    /*background-image: url('../../web/img/5ab6cbc353302.jpg');*/
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -100;
    filter: blur(1.5px);
    overflow: hidden;
}

#gameDetailHeader {
    overflow: hidden;
    position: relative;
}

.container {
    overflow: hidden !important;
}
.text{
    color: white;
    text-shadow: black 0 0 10px;
}