* { 
    margin: 0; 
    padding: 0; 
}

/*id del sidenav*/
#menu {
    overflow: visible;
}

#drpGames1 {
    overflow-y: auto;
    right: 0px;
    top: 0px;
}

#menu li {
    /*border-bottom: 2px solid black;*/
    border-radius: 3px;
    /*box-shadow: 0px 1px;*/
}

#menu a {
    font-size: 22px;
}

#menu-button {
    right: auto;
    bottom: auto;
    padding: 10px;
    border-bottom-right-radius: 5px;
}

#menu-logo {
    margin-bottom: 0;
}

#menu-button, #menu-logo, .modal-header {
    background: linear-gradient(mediumspringgreen, skyblue);
}

.modal-header {
    padding: 10px;
}

.modal-submit {
    margin-left: 5px;
}

#menu-logo img {
    padding-top: 10px;
}

#menu-logo h4 {
    margin-top: 0;
}

.selected-item, #menu-user, .navbar-fixed>nav {
    background-color: steelblue;
}

.selected-item>a, #menu-user>a {
    color: white !important;
}

/*Permite hacer scroll cuando el footer del sidenav cubre lo demas*/
#menu-items {
    max-height: calc(100% - 360px);
    overflow-y: auto;
}

#menu-items .row {
    margin-bottom: 0;
}

/*Configuración de footer de sidenav*/
footer.page-footer {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
}

#login-collection {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

footer .row {
    margin-bottom: 5px;
}

.modal-content {
    padding: 0 !important;
}

.navbar-fixed {
    z-index: 996;
}

.justify-align {
    text-align: justify;
    text-justify: inter-word;
}

#terms li {
    margin-bottom: 10px;
}

nav *{
    display: inline-flex;
}

nav label {
    top: -40px !important;
}

/*Modiando select2*/
#filter-container {
    width: 30% !important;
}

#filter-container span{
    width: 100%;
    text-align: left;
}

.select2-dropdown {
    top: -60px;
}

.selection {
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
}

/*Ocultando flechita del select2 que me cae mal*/
.select2-selection__arrow {
    top: 12px !important;
    width: 20px !important;
}

/*Las opciones de los dropdown del sidenav se moveran a la deracha solo si el width es mayor a 500px*/
@media only screen and (min-width: 500px) {
    #drpGames1 {
        margin-left: 100%;
    }
    #drpGames2 {
        margin-left: 100%;
    }
    #drpAccount {
        margin-left: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #nav-title {
        display: none;
    }
    #filter-container {
        width: 80% !important;
    }
}

#carousel-image{
    visibility: hidden;
    width: 0;
    height: 0;
}
.public{
    background-color:#F5F5F5;
}
