/*En esta clase se deberá wrappear todo el contenido de la página*/
.wrapper, .navbar-fixed {
    margin-left: 300px;
}

nav {
    padding-left: 20px;
}

.wrapper {
    padding: 10px;
}

#menu-logo {
    background: linear-gradient(mediumspringgreen, skyblue);
    margin-bottom: 0;
}

#menu-logo img {
    padding-top: 10px;
}

#menu-logo h4 {
    margin-top: 0;
}

#menu {
    overflow: visible;
}

#drpGames1 {
    overflow-y: auto;
    right: 0px;
    top: 0px;
}

.card-image .card-title {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/*Esta clase se le da al item del sidenav que este seleccionado*/
.selected-item, nav {
    background-color: steelblue;
}

.selected-item>a {
    color: white !important;
}


nav *{
    display: inline-flex;
}

nav label {
    top: -40px !important;
}

/*Modiando select2*/
#filter-container {
    width: 30% !important;
}

#filter-container span{
    width: 100%;
    text-align: left;
}

.select2-dropdown {
    top: -60px;
}

.selection {
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
}

/*Ocultando flechita del select2 que me cae mal*/
.select2-selection__arrow {
    top: 12px !important;
    width: 20px !important;
}

/*Arreglando el layout de los select2 ubicados en forms*/
.formSelect + .select2-container {
    margin-left: 0;
    width: 100% !important;
}

#chartBar {
    overflow-x: auto;
}

.chart-container {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 992px) {
    .wrapper {
        margin-left: 0;
    }
    .navbar-fixed {
        margin-left: 0;
    }
}

/*Las opciones de los dropdown del sidenav se moveran a la deracha solo si el width es mayor a 500px*/
@media only screen and (min-width: 500px) {
    #drpGames1 {
        margin-left: 100%;
    }
}


@media only screen and (max-width: 500px) {
    #nav-title {
        display: none;
    }
    #filter-container {
        width: 80% !important;
    }
}
