body {
    background-color: darkgray;
}

.modal-header {
    background: linear-gradient(mediumspringgreen, skyblue);
}

.card {
    margin-top: 30%;
}

@media only screen and (max-height: 400px) {
    .card {
        margin-top: 10%;
    }
}