<ul id="slide-out" class="sidenav sidenav-fixed back-img">
    <li>
        <div id="menu-logo" class="row">
            <div class="col s3"><img class="responsive-img" src="../web/img/logo.png"> </div>
            <div class="col s9"><h5 class="center-align">Sttom Admin Mode xd</h5></div>
        </div>
    </li>
    <li class="menu-item selected-item"><a class="waves-effect" href="#!" onclick="attach('main')"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Juegos">games</i>Juegos</a></li>
    <li class="menu-item"><a class="waves-effect" href="#!" onclick="attach('user')"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Usuarios">account_box</i>Usuarios</a></li>
    <li class="menu-item"><a class="waves-effect" href="#!" onclick="attach('support')"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Soporte Técnico">build</i>Soporte Técnico</a></li>
    <li class="menu-item"><a class="waves-effect" href="#!" onclick="attach('stadistics')"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Estadísticas">call_made</i>Estadísticas</a></li>
    <li><div class="divider"></div></li>
    <li class="menu-item"><a class="waves-effect" href="#!" onclick="attach('esrb')"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Clasificaciones ESRB">brightness_auto</i>Clasificaciones ESRB</a></li>
    <li class="menu-item"><a class="waves-effect" href="#!" onclick="attach('publisher')"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Publicadores">business_center</i>Publicadores</a></li>
    <li class="menu-item"><a class="waves-effect" href="#!" onclick="attach('genre')"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Géneros">extension</i>Géneros</a></li>
    <li class="menu-item"><a class="waves-effect" href="#!" onclick="attach('platform')"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Plataformas">desktop_windows</i>Plataformas</a></li>
    <li class="menu-item"><a class="waves-effect" href="#!" onclick="attach('spec')"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Géneros">settings</i>Especificaciones</a></li>
    <li class="menu-item"><a class="waves-effect" href="#!" onclick="attach('typeSpec')"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Plataformas">settings_applications</i>Tipos de especificaciones</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="login.php"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Cerrar sesión">cancel</i>Cerrar sesión</a></li>
</ul>
