
<div class="navbar-fixed">
    <nav class="z-depth-2">
        <div class="nav-wrapper">
            <a href="index.php" class="brand-logo">Sttom xD</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav sidenav-fixed back-img">

    <li id="itemGame"><a class="waves-effect" href="index.php"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Juegos">games</i>Juegos</a></li>
    <li id="itemUser"><a class="waves-effect" href="user.php"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Usuarios">account_box</i>Usuarios</a></li>
    <li id="itemSupport"><a class="waves-effect" href="support.php"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Soporte Técnico">build</i>Soporte Técnico</a></li>
    <li id="itemStadistics"><a class="waves-effect" href="stadistics.php"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Estadísticas">call_made</i>Estadísticas</a></li>
    <li><div class="divider"></div></li>
    <li id="itemEsrb"><a class="waves-effect" href="esrb.php"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Clasificaciones ESRB">brightness_auto</i>Clasificaciones ESRB</a></li>
    <li id="itemPublisher"><a class="waves-effect" href="publisher.php"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Publicadores">business_center</i>Publicadores</a></li>
    <li id="itemGenre"><a class="waves-effect" href="genre.php"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Géneros">extension</i>Géneros</a></li>
    <li id="itemPlatform"><a class="waves-effect" href="platform.php"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Plataformas">desktop_windows</i>Plataformas</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="login.php"><i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Cerrar sesión">cancel</i>Cerrar sesión</a></li>
</ul>